/*--------------ALL--------------*/
body {
    background-color: #121212;
    color: #e4e4e4;
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
}

* {
    background-color: inherit;
    color: inherit;
}

.card .text-muted {
    color: #bcbcbc !important;
}

h1 {
    font-size: 2.5em;
    line-height: 1.6em;
    font-weight: 700;
    /*padding-bottom: 0.5em;*/
}

h2 {
    font-size: 1.5em;
    line-height: 1.6em;
}

img {
    width: 100%;
    height: auto;
}

.link {
    color: #00c6c6;
}

.link:visited {
    color: #7dabb9;
}

section {
    margin: 2.5em 0;
}

.card,
.card-header {
    border-width: 0;
}

li {
    margin: 1em 0;
}

iframe {
    display: block;
    width: auto;
    height: 85vh;
    margin: 1em auto;
}

iframe.pc {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

/*--------------All-Header--------------*/

header .nav-link {
    padding: 0.5rem;
}

header .navbar-nav {
    flex-direction: row;
}

header .navbar-nav .nav-link:hover {
    color: inherit;
}

header .navbar-nav .nav-link.active {
    color: inherit;
}

header img {
    max-width: 5vh;
}

/*--------------All-Footer--------------*/

footer {
    margin: 7em 0 2.5em 0;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

footer img {
    max-width: 4vh;
    margin: 0.5em;
}

footer li {
    list-style: none;
}

footer p {
    text-align: center;
}

/* --------------Main--------------*/

.intro {
    padding: 1em 0;
}

.prjs .card-img-top {
    background-color: #e4e4e4;
    border-radius: 15%;
    object-fit: cover;
    height: 100%;
}

.prjs .card {
    background-color: inherit;
    color: inherit;
    text-align: center;
    margin: 1.5em 0;
}

.prjs.row {
    justify-content: space-between;
}

.card .btn {
    display: block;
}

.prjs h2 {
    margin: 0;
}

/*--------------About--------------*/

.abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.abilities .card {
    margin: 1.5em 0;
    background-color: inherit;
    color: inherit;
}

/*--------------Project--------------*/
.prj-overview {
    margin: 0;
    background-color: #e4e4e4;
    color: #121212;
    padding: 0 .75rem;
    z-index: 1;
}

.prj-img.card {
    background-color: inherit;
    border-width: 0;
}

.prj-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prj h1,
.prj-type {
    text-align: center;
}

.prj-info svg {
    display: flex;
    margin: auto;
    width: 1.5em;
    height: 1.5em;
    color: #00c6c6;
    align-self: center;
}

.prj-info.card-body {
    background-color: inherit;
    color: inherit;
}

.prj-info .prj-sum {
    padding: 0.5em 0;
}

.prj-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 1em;
}

.prj-table .card {
    background-color: #e4e4e4;
    color: #121212;
}

.prj-table .card-header {
    background-color: inherit;
}

.prj-table h2 {
    font-size: 1.2em;
}

.prj .link {
    color: #006e95;
}

.prj-info ol.breadcrumb {
    font-size: 14px;
}

.prj .card-title {
    padding: 0;
}

#section-nav {
    position: sticky;
    top: 0;
    display: none;
    justify-content: space-between;
    color: inherit;
    padding-top: 1.5em;
}

#section-nav a {
    text-decoration: none;
    color: #e4e4e4;
    opacity: 50%;
    padding: 0.5em;
    align-self: start;
}

#section-nav .active {
    opacity: 100%;
    text-decoration: underline;
}

/*#overview,
#background,
#goals {
    margin-top: 2em;
}*/

#design-system,
#research,
#design,
#refine,
#rwd,
#takeaways {
    margin-top: 6em;
    padding-top: 1em;
}

.prj-detail.container {
    margin-top: 0;
}

.content img {
    display: block;
    margin: 1em 0;
}

.content h2 {
    font-size: 1em;
    font-weight: 700;
}

.content h3 {
    margin: 2em 0 0.75em 0;
}

.content h4 {
    margin: 1em 0 0.75em 0;
}

.content h5 {
    margin: 1em 0 0.75em 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48;
    color: #e4e4e4;
    font-size: 2.75em !important;
}

.back-to-top {
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
}

blockquote {
    padding-left: 1.5em;
    border-left: 3px solid #e4e4e4;
    margin: 1.5em;
    font-size: 1.5em;
}

/* Small devices (landscape phones, 576px and up)*/
/* @media (min-width: 576px) {} */

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /* Main */
    .prjs .card {
        max-width: 50%;
        text-align: start;
    }

    .prjs .card:last-of-type {
        width: 100%;
    }

    .card .btn {
        display: inline-block;
        padding: 0.5em 1.5em;
    }

    /* Project */

    .content img {
        margin: 1.5em auto;
    }

    img.thin {
        width: 30%;
    }

    .content .gif {
        width: 50%;
        height: auto;
    }

    #section-nav {
        display: flex;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    /*All*/
    footer {
        margin: 12em 0 2.5em 0;
    }

    /* Project */
    .prj h1 {
        text-align: left;
    }

    .prj-type {
        text-align: left;
    }

    .prj-info svg {
        margin: 0;
    }

    .prj-info {
        padding: 0 2em;
    }

    .prj-overview .breadcrumb {
        padding-top: 1em;
        margin: 0;
    }

    #section-nav {
        flex-direction: column;
        justify-content: flex-start;
        padding: 2em 0;
    }

    .content h2 {
        margin: 2em 0 1em 0;
    }

    .content img {
        width: 80%;
        height: auto;
    }

    .content .gif {
        width: 20vw;
        height: fit-content;
    }

    #overview {
        margin-top: 0;
        padding-top: 1em;
    }
/*
    #design-system,
    #research,
    #design,
    #refine,
    #rwd,
    #takeaways,
    #goals,
    #sitemaps,
    #wireflow,
    #hifi-prototype,
    #ui {
        margin-top: 6em;
        padding-top: 1em;
    }
*/
    #overview h2 {
        margin-top: 2em;
        padding-top: 1em;
    }

    .back-to-top {
        position: fixed;
        right: 1.5em;
        bottom: 1.5em;
    }

    .flex {
        display: flex;
    }

    .flex img {
        display: inline;
        width: 50%;
        padding: 0 2em;
    }

    .flex li {
        margin: 2em 0;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    img.thin {
        width: 30%;
    }

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


    /*infleme freelance*/
    #mockups li {
        margin: 1em 0;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
/* @media (min-width: 1400px) {}*/