/*ALL*/
body {
    background-color: #121212;
    color: #e4e4e4;
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
}

* {
    background-color: inherit;
    color: inherit;
}

.card .text-muted {
    color: #bcbcbc !important;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    line-height: 1.6em;
    font-weight: 700;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.6em;
}

img {
    width: 100%;
    height: auto;
}

.link {
    color: #00c6c6;
}

.link:visited {
    color: #7dabb9;
}

/*All-Header*/

header .nav-link {
    padding: 0.5rem;
}

header .navbar-nav {
    flex-direction: row;
}

header .navbar-nav .nav-link:hover {
    color: inherit;
}

header .navbar-nav .nav-link.active {
    color: inherit;
}

header img {
    max-width: 5vh;
    margin: 0.5em;
}

/*All-Footer*/

footer {
    margin: 2.5em;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer img {
    max-width: 4vh;
    margin: 0.5em;
}

footer p {
    text-align: center;
}

section {
    margin: 2.5em 0;
}

.card,
.card-header {
    border-width: 0;
}

/* Main */

.intro {
    padding: 1em 0;
}

.prjs .card-img-top {
    background-color: #e4e4e4;
    border-radius: 15%;
    object-fit: cover;
    height: 100%;
}

.prjs .card {
    background-color: inherit;
    color: inherit;
    text-align: center;
    margin: 1.5em 0;
}

.prjs.row {
    justify-content: space-between;
}

.card .btn {
    display: block;
}

.prjs h2 {
    margin: 0;
}

/*About*/

.abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.abilities .card {
    margin: 1.5em 0;
    background-color: inherit;
    color: inherit;
}

/*Project*/
.prj-overview {
    margin: 0;
    background-color: #e4e4e4;
    color: #121212;
    padding: 0 .75rem;
}

.prj-img.card {
    background-color: inherit;
    border-width: 0;
}

.prj h1,
.prj-type {
    text-align: center;
}

.prj-info.card-body {
    background-color: inherit;
    color: inherit;
}

.prj-info .prj-sum {
    padding: 0.5em 0;
}

.prj-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 1em;
}

.prj-table .card {
    background-color: #e4e4e4;
    color: #121212;
}

.prj-table .card-header {
    background-color: inherit;
}

.prj-table h2 {
    font-size: 1.2em;
}

.prj .link {
    color: #006e95;
}

.prj-info ol.breadcrumb {
    font-size: 14px;
}

.prj .card-title {
    padding: 0;
}

.section-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1em 1em;
    color: inherit;
    overflow: scroll;
    z-index: 1;
    align-items: center;
}

.section-nav a {
    text-decoration: none;
    color: #e4e4e4;
}

.sec-name {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.sec-name a {
    text-decoration: none;
    color: #e4e4e4;
    font-size: 0.5em;
}

#overview,
#research,
#design,
#refine,
#takeaways {
    scroll-margin-top: 6em;
}

.dot {
    border-radius: 50%;
    background-color: #e4e4e4;
    width: 0.7em;
    height: 0.7em;
    margin: 0.5em;
}

.content {
    position: relative;
    height: 500px;
    overflow-y: scroll;
}

.section-nav .active {
    background-color: #e4e4e4;
    opacity: 75%;
    color: #121212;
    padding: 0.5em 1em;
    border-radius: 0.7em;
}

.content h2 {
    font-size: 1em;
    font-weight: 700;
    margin: 2em 0 1.5em 0;
}

.content h3 {
    margin: 1.25em 0 0.75em 0;
}

.content p {
    margin: 0 0 3em 0;
}



/* Small devices (landscape phones, 576px and up)*/
/* @media (min-width: 576px) {} */

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /* Main */
    .prjs .card {
        max-width: 50%;
        text-align: start;
    }

    .prjs .card:last-of-type {
        width: 100%;
    }

    .card .btn {
        display: inline-block;
        padding: 0.5em 1.5em;
    }

    /* Project */

    .content .gif {
        width: 20%;
        height: auto;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    /* Project */
    .prj h1 {
        text-align: left;
    }

    .prj-type {
        text-align: left;
    }

    .prj-info {
        padding: 0 2em;
    }

    .prj-overview .breadcrumb {
        padding-top: 1em;
        margin: 0;
    }

    .section-nav {
        padding: 1em 0;
    }

    .sec-name {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        font-size: 16px;
        opacity: 60%;
    }

    .sec-name:hover {
        opacity: 100%;
        transition: 150ms;
    }

    .sec-name a {
        font-size: 1em;
    }

    .content h2 {
        margin: 5em 0 1em 0;
    }

    #overview,
    #research,
    #design,
    #refine,
    #takeaways {
        scroll-margin-top: 6em;
    }

    .content img {
        width: 50%;
        height: auto;
    }

    .content .gif {
        width: 25%;
        height: auto;
    }


    /*X-Large devices (large desktops, 1200px and up)*/
    /* @media (min-width: 1200px) {} */
    /*XX-Large devices (larger desktops, 1400px and up)*/
    /* @media (min-width: 1400px) {}*/