/*ALL*/
body {
    background-color: #121212;
    color: #e4e4e4;
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
}

.card .text-muted {
    color: #bcbcbc !important;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Header*/

header {
    background-color: #121212;
    color: #e4e4e4c0;
}

header .nav-link {
    padding: 0.5rem;
}

header .navbar-nav {
    flex-direction: row;
}

header .navbar-nav .nav-link:hover {
    color: #e4e4e4;
}

header .navbar-nav .nav-link.active {
    color: #e4e4e4;
}

header img {
    max-width: 5vh;
    margin: 0.5em;
}

/*Footer*/

footer {
    margin: 2.5em;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer img {
    max-width: 4vh;
    margin: 0.5em;
}

footer p {
    text-align: center;
}

section {
    margin: 2.5em 0;
}

h1 {
    font-size: 2.5em;
    line-height: 1.6em;
    font-weight: 700;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.6em;
}

/* Main */

.intro {
    padding: 1em 0;
}

.prjs .card-img-top {
    background-color: #e4e4e4;
    border-radius: 15%;
    object-fit: cover;
}

.prjs .card {
    background-color: #121212;
    color: #e4e4e4;
    text-align: center;
    margin: 1.5em 0;
}

.prjs.row {
    justify-content: space-between;
}

.card .btn {
    display: block;
}

/*About*/

.abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
}

.abilities .card {
    width: 100vw;
    margin: 1.5em 0;
    background-color: #121212;
    color: #e4e4e4;
}

/*Projects*/
section.prj {
    margin: 0 0 2.5em 0;
}

.prj {
    background-color: #e4e4e4;
    color: #121212;
}

.prj .card-img-top {
    background-color: #e4e4e4;
}

.prj h1 {
    text-align: center;
}

.prj-type {
    text-align: center;
}

/* a {
    color: #3dcfff;
} */

/* Small devices (landscape phones, 576px and up)*/
/* @media (min-width: 576px) {
    .prjs .card {
    }
} */



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .prjs .card {
        max-width: 45%;
        text-align: start;
    }

    .prjs .card:last-of-type {
        width: 100%;
    }

    .card .btn {
        display: inline-block;
        padding: 0.5em 1.5em;
    }

    .abilities {
        justify-content: space-between;
    }

    .abilities .card {
        width: 45%;
    }
}

/*Large devices (desktops, 992px and up)*/
/* @media (min-width: 992px) {
    .prjs .card {

    }
} */

/*X-Large devices (large desktops, 1200px and up)*/
/* @media (min-width: 1200px) {
    .prjs .card {
    }
} */

/*XX-Large devices (larger desktops, 1400px and up)*/
/* @media (min-width: 1400px) {
    .prjs .card {

    }
} */